*{
 margin: 0px;
 padding: 0px;
 outline: 1px dotted black;
}
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
 padding-top: 10px;
}
	#header{
	 height: 150px;
	 background-color: green;
	 margin: 10px 20px;

	}
	#navigation{
	 height: 300px;
	 width: 190px;
	 background-color: blue;
	 margin:10px 0px 0px 20px;
	 display: inline-block;
	 vertical-align: top;
	}
	#main_content{
	 height: 400px;
	 width: 685px;
	 background-color: red;
	 margin: 10px 10px 20px 20px;
	 display: inline-block;
	 padding-top: 10px;
	 padding-left: 10px;
	 vertical-align: top;
	}
		.subcontents{
		 height: 200px;
		 width: 200px;
		 background-color: yellow;
		 margin:5px 5px 10px 5px;
		 display: inline-block;
		}
		#advertisement{
		 height: 120px;
		 width: 630px;
		 margin:5px;
		 background-color: purple;
		 display: inline-block;
		}